<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head.ejs') %>
  
<body class="<%= current %>" >

  <%- include('../partials/nav.ejs') %>

  <h1 class="text-lg">Subscribe</h1>
  <h2 class="text-md"><%= tagline %></h2>

  <section class="form-section">
    <form id="frmSubscriber" class="subscribe-form" action="/subscribers" method="POST">
      <div>
        <input type="text" id="name" name="name" placeholder="Please enter your name" required>
      </div>
      <div>
        <input type="email" id="email" name="email" placeholder="Please enter your email" required>
      </div>
      <div>
        <p>By clicking subscribe, you are agreeing to our conditions, and to receive weekly updates.</p>
      </div>
      <div>
        <button type="submit" class="button-1" onclick="document.getElementById('date').value=new Date()">Subscribe</button>
      </div>
      <input type="hidden" id="date" name="date" required value="">
    </form>
    
  </section>

  <%- include('../partials/footer.ejs') %>
  
</body>
</html> 